<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form class="login-form" #form="ngForm">
    <div>
      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Input text"
          required
          appForbiddenEmail="bob"
          [(ngModel)]="email"
          #email="ngModel"
        />
        <div *ngIf="email.errors?.['required']">
          Email is required.
        </div>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Input text"
          required
        />
        <!-- <div *ngIf="password.errors?.['required']">
          Password is required.
        </div> -->
      </div>
    </div>
    <div>
      <div class="form__action">
        <app-button></app-button>
      </div>
      <div class="form__text">
        If you don't have an account you may <strong>Registration</strong>
      </div>
    </div>
  </form>
</div>
