<div class="course-card">
    <div class="course-card__description">
      <div class="course-card__description-title">{{ title }}</div>
      <div class="course-card__description-text">{{ description }}</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              {{ authors }}
            </div>
            <div><b>Duration: </b>{{ duration }}</div>
            <div><b>Created: </b>{{ creationDate }}</div>
        </div>
        <div class="course-card__info-actions">
            <app-button text="Show course"></app-button>
            <fa-icon icon="coffee"></fa-icon>
            <fa-icon icon="coffee"></fa-icon>
        </div>
    </div>
</div>
