<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          placeholder="Input text"
        />
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Input text"
        />
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Input text"
        />
      </div>
    </div>
    <div class="form__action">
      <app-button></app-button>
    </div>
  </div>
</div>
