<div class="modal__backdrop" (click)="backdropClick($event)" #backdrop>
    <div class="modal__container">
        <div class="modal__title">
            <div>{{title}}</div>
            <div class="modal__icon">
                <fa-icon [icon]="['fas','xmark']" (click)="doResult(false)"></fa-icon>
            </div>
        </div>
        <div class="modal__message">{{message}}</div>
        <div class="modal__actions">
            <div class="modal__btn">
                <app-button [text]="okButtonText" (click)="doResult(true)"></app-button>
            </div>
            <div class="modal__btn">
                <app-button [text]="cancelButtonText" (click)="doResult(false)"></app-button>
            </div>
        </div>
    </div>
</div>
